<div class="container-fluid ">
    <div class="row">
        <aside class="col-sm-2 filter__wrap">
            <div class="">
                <div [hidden]="submitted">
                    <h1>statement Form</h1>
                    <form *ngIf="active" (ngSubmit)="onSubmit()" #statementForm="ngForm">
                        <div class="form-group">
                            <label for="Season">Season</label>
                            <input type="text" class="form-control" readonly required
                                   [(ngModel)]="filter.Season"
                                   name="Season" #Season="ngModel">
                            <div [hidden]="Season.valid || Season.pristine" class="alert alert-danger">
                                Season is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CampsiteId">Camping ID</label>
                            <input type="text" class="form-control"
                                   [(ngModel)]="filter.CampsiteId"
                                   name="CampsiteId">
                        </div>
                        <!--<div class="form-group">
                            <label for="Season">Season</label>
                            <input type="text" class="form-control" readonly required
                                   [(ngModel)]="filter.Season"
                                   name="Season" #name="ngModel">
                            <div [hidden]="Season.valid || Season.pristine" class="alert alert-danger">
                                Season is required
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="PaymentType">Payment type</label>
                            <select class="form-control" required
                                    [(ngModel)]="filter.PaymentType"
                                    name="PaymentType" #PaymentType="ngModel">
                                <option *ngFor="let p of paymentType" [value]="p.Id">{{p.Name}}</option>
                            </select>
                            <div [hidden]="PaymentType.valid || PaymentType.pristine" class="alert alert-danger">
                                PaymentType is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="FromDate">Form Date</label>
                            <datepicker [(ngModel)]="filter.FromDate" [minDate]="minDate" [showWeeks]="true" name="FromDate" #FromDate="ngModel"></datepicker>

                            <div [hidden]="FromDate.valid || FromDate.pristine" class="alert alert-danger">
                                From Date is required
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ToDate">To Date</label>
                            <datepicker [(ngModel)]="filter.ToDate" [minDate]="minDate" [showWeeks]="true" name="ToDate" #ToDate="ngModel"></datepicker>
                            <div [hidden]="ToDate.valid || ToDate.pristine" class="alert alert-danger">
                                To Date is required
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default" [disabled]="!statementForm.form.valid">Submit</button>
                      <!--  <button type="button" class="btn btn-default" (click)="newstatement()">New statement</button>-->
                    </form>
                </div>
            </div>
        </aside>
      <section class="col-sm-10" *ngIf="paymentData.length">
         <table class="table table-striped table-responsive" [mfData]="paymentData" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                  <tr>
                      <th>
                          <label class="checkbox">
                              <input [disabled]="filter.PaymentType == '1'" type="checkbox" [(ngModel)]="allApproved" #approved (change)="setAll(approved.checked, 'Approve')"><span></span><span>Approve</span>
                           </label>
                      </th>
                      <th>
                          <label class="checkbox">
                              <input [disabled]="filter.PaymentType == '1'" type="checkbox" [(ngModel)]="allMail" #mail (change)="setAll(mail.checked, 'SendMail')"><span></span><span>Mail</span>
                          </label>
                      </th>
                      <th>
                          <label class="checkbox">
                              <input [disabled]="filter.PaymentType == '1' || filter.PaymentType == '712340001'" type="checkbox" [(ngModel)]="allInvoice"  #invoice (change)="setAll(invoice.checked, 'CreateInvoice')"><span></span><span>Invoice</span>
                          </label>
                      </th>
                      <th><label>ID</label></th>
                      <th><label>Preview</label></th>
                      <th><label>Camping Name</label></th>
                      <th><label>Gross</label></th>
                      <th><label>To be paid</label></th>
                      <th colspan="2"><label>Payments</label></th>
                      <th colspan="2"><label>Corrections</label></th>
                      <th colspan="2"><label>Cancellations</label></th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let payment of mf.data">
                      <td><label class="checkbox"><input type="checkbox" [disabled]="filter.PaymentType == '1' || payment.is_success" [(ngModel)]="payment.Approve" (change)="checkAllApproved('Approve');"><span></span></label></td>
                      <td><label class="checkbox"><input type="checkbox" [disabled]="filter.PaymentType == '1'" [(ngModel)]="payment.SendMail" (change)="checkAllApproved('SendMail');"><span></span></label></td>
                      <td><label class="checkbox"><input type="checkbox" [disabled]="filter.PaymentType == '1' || filter.PaymentType == '712340001'" [(ngModel)]="payment.CreateInvoice" (change)="checkAllApproved('CreateInvoice');"><span></span></label></td>
                      <td>{{payment.CampsiteId}}</td>
                      <td><a ng-click="getPreviewStatement(payment)">Preview</a></td>
                      <td>{{payment.CampsiteName}}</td>
                      <td>{{payment.GrossAmount| currency}}</td>
                      <td>{{payment.BalanceAmount| currency}}</td>
                      <!--<td class="white-space__nowwrap"><small class="left separator">{{payment.Payment.TransactionCount}}</small><small class="right">{{payment.Payment.TransactionAmount | currency}}</small></td>-->
                      <td>{{payment.Payment.TransactionCount}}</td>
                      <td>{{payment.Payment.TransactionAmount| currency}}</td>
                      <td>{{payment.Correction.TransactionCount}}</td>
                      <td>{{payment.Correction.TransactionAmount| currency}}</td>
                      <td>{{payment.Cancellation.TransactionCount}}</td>
                      <td>{{payment.Cancellation.TransactionAmount| currency}}</td>
                  </tr>
              </tbody>
              <tfoot>
                  <tr>
                      <td colspan="4">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                  </tr>
              </tfoot>
          </table>  
      </section>
        </div>
<!--<div ng-if="overlay" class="transparant-background">
    <span class="load-process">
        <span class="fa fa-spinner fa-pulse fa-3x fa-fw"></span>
        <small>
            Processing 
        </small>
    </span>
</div>-->